///colors

$color_gray_1: #333333;
$color_gray_2: #f4f4f4;
$gray_color_4:#BDBDBD;
$black_text_color: #000000;
$white_p_text:#FFFFFF;
$orange_icon_color:#F2994A;



//fonts
$Montserrat: Montserrat, sans-serif;
$Playfair:Playfair Display, serif;