
.footer{
  width: 100%;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #333333;
  padding: 20px 0;
  height: 50px;
  overflow: hidden;
}
